html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  scroll-behavior: smooth;
}

.body-overflow--hidden {
  overflow: hidden;
}
