%button {
  display: inline-block;
  padding: 14px 38px 12px;
  min-width: 112.58px;
  font-family: $main-font-family;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 5px;
}
