// Font
$main-font-family: 'Roboto', sans-serif;

// Background color
$header-bg-color: rgba(0, 0, 0, 0.56);
$main-bg-color: #fff;
$footer-bg-color: #F7F7F7;
$backdrop-bg-color: rgba(0, 0, 0, 0.25);

// Text color
$white-text-color: #fff;
$black-text-color: #000;
$orange-text-color: #FF6B08;
$red-text-color: #FF001B;
$gray-text-color: #545454;
$light-gray-text-color: #8C8C8C;

// Element background color
$orange-btn-color: #FF6B01;
$element-bg-color: #FF6B08;
$logo-icon-color: #818181;