<form class="form-search" id="form-search">
      <input
        class="form-search__input"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
      <button class="form-search__button" type="submit">
        <svg width="12" height="12">
          <use href="./images/header/icons.svg#icon-search"></use>
        </svg>
      </button>
</form>