<section class="grid">
  <div class="container">
    <ul class="gallery"></ul>

    <!-- Search No results -->
    <div class="no-results is-hidden">
      <img class="no-results__image" src="./images/no-results.png"/>
      <p class="no-results__text">Sorry... There is no results.</p>
      <p class="no-results__text">Change your search query and try again.</p>
    </div>

    <!-- My Library No results -->
    <div class="library-empty is-hidden">
      <img class="library-empty__image" src="./images/no-results.png"/>
      <p class="library-empty__text">Nothing yet...</p>
      <p class="library-empty__text">Sign in to add movies to "My Library".</p>
    </div>
  </div>
</section>
