<!-- динамическая карточка фильмов в гриде -->

<!-- <div class="container">
<div class="gallery"></div>
</div> -->

<!-- статическая карточка фильмов в гриде -->

<div class="container">
  <div class="gallery">
    <!-- 1 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-5@2.jpg 2x, ./images/Rectangle-5.jpg"
          src="./images/Rectangle-5.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Greyhound</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>
          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"
          src="./images/Rectangle-12-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Monster Hunter</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 3 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-14@2-1024.jpg 2x, ./images/Rectangle-14-1024.jpg"
          src="./images/Rectangle-14-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Little women</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 4 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"
          src="./images/Rectangle-13-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Once upon a time...in Hollywood</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 5 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-15@2-1024.jpg 2x, ./images/Rectangle-15-1024.jpg"
          src="./images/Rectangle-15-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Aquarela</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 6 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-16@2-1024.jpg 2x, ./images/Rectangle-16-1024.jpg"
          src="./images/Rectangle-16-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">David Crosby</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 7 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-17@2-1024.jpg 2x, ./images/Rectangle-17-1024.jpg"
          src="./images/Rectangle-17-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Moon</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>
          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 8 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-18@2-1024.jpg 2x, ./images/Rectangle-18-1024.jpg"
          src="./images/Rectangle-18-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Fisful of lead</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 9 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-19@2-1024.jpg 2x, ./images/Rectangle-19-1024.jpg"
          src="./images/Rectangle-19-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Bad boys</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 10 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-5@2-1024.jpg 2x, ./images/Rectangle-5-1024.jpg"
          src="./images/Rectangle-5-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Greyhound</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 11 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"
          src="./images/Rectangle-12-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Monster Hunter</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 12 -->

    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-14@2-1024.jpg 2x, ./images/Rectangle-14-1024.jpg"
          src="./images/Rectangle-14-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Little women</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 13 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"
          src="./images/Rectangle-13-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Once upon a time...in Hollywood</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 14 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-15@2-1024.jpg 2x, ./images/Rectangle-15-1024.jpg"
          src="./images/Rectangle-15-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Aquarela</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 15 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-16@2-1024.jpg 2x, ./images/Rectangle-16-1024.jpg"
          src="./images/Rectangle-16-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">David Crosby</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 16 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-18@2-1024.jpg 2x, ./images/Rectangle-18-1024.jpg"
          src="./images/Rectangle-18-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Fisful of lead</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 17 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-19@2-1024.jpg 2x, ./images/Rectangle-19-1024.jpg"
          src="./images/Rectangle-19-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Bad boys</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 18 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-5@2-1024.jpg 2x, ./images/Rectangle-5-1024.jpg"
          src="./images/Rectangle-5-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Greyhound</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 19 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"
          src="./images/Rectangle-12-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Monster Hunter</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>

    <!-- 20 -->
    <div class="card">
      <div class="card__image">
        <img
          srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"
          src="./images/Rectangle-13-1024.jpg"
          alt="Greyhound"
        />
      </div>
      <div class="card__info info">
        <h3 class="info__title">Once upon a time...in Hollywood</h3>
        <div class="info__genres">
          <ul class="genres">
            <li class="genres__item">Action</li>
            <li class="genres__item">Drama</li>
          </ul>

          <p class="card__date">2020</p>
        </div>
      </div>
    </div>
  </div>
</div>
