<!-- динамическая карточка фильмов в гриде -->
<!-- 
<div class="container">
    <div class="gallery">
        </div>
    </div> -->

<!-- статическая карточка фильмов в гриде -->
<section class="grid">
<div class="container">

    <ul class="gallery">
   
    


<!-- 1 -->
<li class="gallery__card"  >
    <img class="card__image" srcset="./images/Rectangle-5@2.jpg 2x, ./images/Rectangle-5.jpg" src="./images/Rectangle-5.jpg" alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Greyhound</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>
<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 2 -->
<li class="gallery__card"   >
    <img srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"  src="./images/Rectangle-12-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Monster Hunter</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 3 -->
<li class="gallery__card"   >
    <img srcset="./images/Rectangle-14@2-1024.jpg 2x, ./images/Rectangle-14-1024.jpg"  src="./images/Rectangle-14-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Little women</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 4 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"  src="./images/Rectangle-13-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Once upon a time...in  Hollywood</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 5 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-15@2-1024.jpg 2x, ./images/Rectangle-15-1024.jpg"  src="./images/Rectangle-15-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Aquarela</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 6 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-16@2-1024.jpg 2x, ./images/Rectangle-16-1024.jpg"  src="./images/Rectangle-16-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">David Crosby</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 7 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-17@2-1024.jpg 2x, ./images/Rectangle-17-1024.jpg"  src="./images/Rectangle-17-1024.jpg"  alt="Greyhound"/>
 <div class= "card__info info">
<h3 class="info__title">Moon</h3>
<div class="info__genres ">
<ul class="genres">
<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>
<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 8 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-18@2-1024.jpg 2x, ./images/Rectangle-18-1024.jpg"  src="./images/Rectangle-18-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Fisful of lead</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 9 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-19@2-1024.jpg 2x, ./images/Rectangle-19-1024.jpg"  src="./images/Rectangle-19-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Bad boys</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 10 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-5@2-1024.jpg 2x, ./images/Rectangle-5-1024.jpg"  src="./images/Rectangle-5-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Greyhound</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 11 -->
<li class="gallery__card"   >
    <img srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"  src="./images/Rectangle-12-1024.jpg"  alt="Greyhound"/>
 <div class=" card__info info">
<h3 class="info__title">Monster Hunter</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 12 -->

<li class="gallery__card"   >
    <img srcset="./images/Rectangle-14@2-1024.jpg 2x, ./images/Rectangle-14-1024.jpg"  src="./images/Rectangle-14-1024.jpg"  alt="Greyhound"/>
 <div class="card__info   info">
<h3 class="info__title">Little women</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 13 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"  src="./images/Rectangle-13-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Once upon a time...in  Hollywood</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 14 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-15@2-1024.jpg 2x, ./images/Rectangle-15-1024.jpg"  src="./images/Rectangle-15-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Aquarela</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 15 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-16@2-1024.jpg 2x, ./images/Rectangle-16-1024.jpg"  src="./images/Rectangle-16-1024.jpg"  alt="Greyhound"/>
 <div class=" card__info info">
<h3 class="info__title">David Crosby</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 16 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-18@2-1024.jpg 2x, ./images/Rectangle-18-1024.jpg"  src="./images/Rectangle-18-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Fisful of lead</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 17 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-19@2-1024.jpg 2x, ./images/Rectangle-19-1024.jpg"  src="./images/Rectangle-19-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Bad boys</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 18 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-5@2-1024.jpg 2x, ./images/Rectangle-5-1024.jpg"  src="./images/Rectangle-5-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Greyhound</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 19 -->
<li class="gallery__card"   >
    <img srcset="./images/Rectangle-12@2-1024.jpg 2x, ./images/Rectangle-12-1024.jpg"  src="./images/Rectangle-12-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Monster Hunter</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>

<!-- 20 -->
<li class="gallery__card">
    <img srcset="./images/Rectangle-13@2-1024.jpg 2x, ./images/Rectangle-13-1024.jpg"  src="./images/Rectangle-13-1024.jpg"  alt="Greyhound"/>
 <div class="card__info info">
<h3 class="info__title">Once upon a time...in  Hollywood</h3>
<div class="info__genres ">
<ul class="genres">

<li class="genres__item">Action</li>
<li class="genres__item">Drama</li>
 </ul>


<p class="card__date">2020</p>
</div>
</div>
</li>


    </ul>
</div> 
</section>


