<header class="header">
    <div class="container">
      <a class="site-nav__logo" href="#"
      ><svg width="24" height="24">
                  <use href="./images/header/icons.svg#icon-film"></use>
                </svg><span class="site-nav__logo--logo-part">Filmoteka</span>
          </a>
        <nav class="site-nav">
          <ul class="">
            <li class="">
              <a
                class=""
                href="#"
                >Home</a
              >
            </li>
            <li class="">
              <a class="site-nav__link" href="">my library</a>
            </li>
          </ul>
        </nav>
       <form class="form-search" id="form-search">
        <input
          class="form-search__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Поиск фильмов"
        />
        <button class="form-search__button" type="submit">
          <svg width="12" height="12">
                  <use href="./images/header/icons.svg#icon-search"></use>
                </svg>
        </button>
      </form>
    </div>
</header>
