<header class="header">
  <div class="container header-container">
    <nav class="site-nav">
      <a class="logo" href="#">
        <svg width="24" height="24">
          <use href="./images/header/icons.svg#icon-film"></use>
        </svg>
        <span class="logo-part">Filmoteka</span>
      </a>
      <ul class="site-nav-list">
        <li class="site-nav-list__item">
          <a class="site-nav-list__link site-nav-list__link--current" href="#">Home</a>
        </li>
        <li class="site-nav-list__item">
          <a class="site-nav-list__link" href="">my library</a>
        </li>
      </ul>
    </nav>
    <form class="form-search" id="form-search">
        <input
          class="form-search__input"
          type="text"
          name="searchQuery"
          autocomplete="off"
          placeholder="Поиск фильмов"
        />
        <button class="form-search__button" type="submit">
          <svg width="12" height="12">
            <use href="./images/header/icons.svg#icon-search"></use>
          </svg>
        </button>
    </form>
  </div>
</header>
