<header class="header home-header">
  <div class="container">
    <div class="header-container">

      <!-- Theme switcher button -->
      <button class="theme-button">
        <svg class="icon" data-theme="light" id="light-theme">
          <use class="icon-sun" href="./images/header/icons.svg#icon-sun"></use>
        </svg>
        <svg class="icon" data-theme="dark" id="dark-theme">
          <use class="icon-moon" href="./images/header/icons.svg#icon-moon"></use>
        </svg>
      </button>
      

      <div class="navigation">

        <!-- Logo -->
        <a class="logo" href="#">
          <svg width="24" height="24">
            <use href="./images/header/icons.svg#icon-film"></use>
          </svg>
          <span class="logo-part">Filmoteka</span>
        </a>
        
        <!-- Navigation menu -->
        <nav class="site-nav">
          <ul class="site-nav-list">
            <li class="site-nav-list__item">
              <a class="site-nav-list__link home-link is-current" href="#">Home</a>
            </li>
            <li class="site-nav-list__item">
              <a class="site-nav-list__link my-library-link" href="#">my library</a>
            </li>
          </ul>
        </nav>

        <!-- Login & Logout -->
        <ul class="auth-list">
          <p class="sing-in">Sing in</p>
          <li class="auth-list__item login__item" id="login">
            <a href="" class="auth-list__link" id="login-google">
              <svg class="login-icon">
                <use href="./images/header/icons.svg#icon-sign-in"></use>
              </svg>
            </a></li>
          <li class="auth-list__item logout__item">
            <a href="" class="auth-list__link" id="logout-google">
              <svg class="logout-icon">
                <use href="./images/header/icons.svg#icon-sign-out"></use>
              </svg>
            </a></li>
        </ul>   
      </div>

      <!-- Changeable content -->
      <div class="changeable-block"></div>

    </div>
  </div>
</header>
