.basicLightbox--visible {
  overflow-y: auto;
  backdrop-filter: blur(10px);
}

.modal {
  position: relative;

  width: 100%;
  height: 100%;

  background-color: $main-bg-color;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 14%), 0 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.25s;

  &__btn {
    color: $black-text-color;
    border: 1px solid $black-text-color;
  }
}
.modal__card {
  max-width: 280px;

  padding: 48px 20px 41px;

  @media screen and (min-width: 768px) {
    display: flex;
    padding: 42px 28px 40px 30px;
    max-width: 618px;
  }
  @media screen and (min-width: 1024px) {
    padding: 50px 30px 40px;

    max-width: 882px;
  }
}
.card__name {
  text-transform: uppercase;
  color: $black-text-color;
  margin-bottom: 15px;

  @media screen and (min-width: 1024px) {
    font-size: 30px;
  }
}

.item__value,
.card__about-caption,
.card__about,
.mobile-about-caption,
.mobile-about {
  color: $black-text-color;
  font-weight: 500;
}

.item__value--avg {
  color: $white-text-color;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  transition: all 300ms ease-out;

  &:hover,
  &:focus {
    opacity: 0.5;
    border: 2px solid $orange-btn-color;
  }
}

.modal__image-thumb {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-bottom: 0;

    margin-right: 30px;
  }
}

.modal__image {
  width: 100%;
  height: 356px;
  max-width: 240px;

  object-fit: cover;

  @media screen and (max-width: 768px) {
    height: 374px;

    max-width: 264px;
  }

  @media screen and (min-width: 1024px) {
    max-width: 396px;
    height: 478px;
  }
}

.card__wrapper {
  width: 100%;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $black-text-color;
}

.card__name {
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;

  @media screen and (min-width: 1024px) {
    margin-bottom: 30px;

    font-size: 30px;
    line-height: 1.167;
  }
}

.card__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.item__label {
  padding-bottom: 10px;
  min-width: 108px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $light-gray-text-color;

  @media screen and (min-width: 1024px) {
    width: 152px;
  }
}

.item__value {
  display: inline-block;
  font-size: 12px;
  line-height: 1.17;

  &--avg {
    width: 36px;
    height: 16px;
    margin-right: 3px;
    padding: 1px 0px;
    text-align: center;
    color: $white-text-color;
    background-color: $orange-btn-color;
    border-radius: 5px;
  }
  &--gnr {
    display: flex;
    flex-wrap: wrap;
  }
}
.comma {
  margin-right: 3px;
}
.comma:last-child {
  display: none;
}

.card__about-caption {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.card__about {
  margin-bottom: 20px;
  max-height: 237px;
  overflow-y: auto;

  font-size: 12px;
  line-height: 1.67;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.mobile-about-caption {
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-about {
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.67;

  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: none;
  }
  &:hover .mobile-about-caption {
    color: $orange-text-color;
    cursor: pointer;
  }
}
.trailer__button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  background-color: $white-text-color;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  border: 1px solid $black-text-color;
  color: $black-text-color;

  transition: 0.4s;
}
.trailer__button:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.trailer__button:hover,
.trailer__button:focus {
  color: $orange-text-color;
  border-color: $orange-text-color;
}
.trailer__button:hover:after {
  color: $orange-text-color;
  border-color: $orange-text-color;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.modal__buttons {
  display: flex;
  justify-content: center;
}

.modal__btn {
  width: 113px;
  height: 44px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  background-color: $white-text-color;

  @media screen and (min-width: 768px) {
    width: 125px;
  }
  @media screen and (min-width: 1024px) {
    width: 136px;
  }
  &:not(:last-child) {
    margin-right: 15px;
  }
  &:hover {
    color: $white-text-color;
    background-color: $orange-text-color;
    border-color: $white-text-color;
  }
}
