
img{
    // display: block;
    outline: 1px solid green;
width: 100%;
    height: 398px;
}




.gallery {
   
    display: grid;
    
   grid-template-columns: 290px;
grid-template-rows:  repeat(20, 443px);

}

.card {
//    outline: 1px solid red;
    // margin-bottom: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    // border: 1px solid black;
    width: 280px;
    height: 443px;

}


 .genres {
     display: flex;
 }
 
 .card__info {
     
     margin-top: 10px;

     font-family: Roboto;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
text-transform: uppercase;
 }

 .info__genres {
     display: flex;

     font-family: Roboto;
     font-style: normal;
     font-weight: 400;
     font-size: 12px;
     line-height: 16px;
     text-transform: uppercase;
     color: orangered;
 }
.genres__item:not(:last-child):after {   
    content: ','; 
margin-right: 5px; 
}
.genres__item:last-child:after {
content: '|';
margin-left: 5px;
margin-right: 5px;
}



// .card__date::before {
//     content: '|';
//     margin-right: 5px;
    

// }

@media screen and (min-width: 768px) {
    .gallery {
        display: grid;
        
        
        // outline: 1px solid yellow;
       grid-template-columns: 293px 293px;
    grid-template-rows:  repeat(10, 398px);
    // row-gap: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .gallery {
        display: grid;
        
        // outline: 1px solid yellow;
       grid-template-columns: 274px 274px 274px;
    grid-template-rows:  repeat(7, 398px);
    grid-row-gap: 50px;
    grid-column-gap: 30px ;
    }
}




