.header-container {
  padding-top: 50px;
  padding-bottom: 60px;
  font-family: 'Roboto';
  color: $white-text-color;
}

// Home
.header {
  background-color: $header-bg-color;
}

.home-header .container {
  background-size: contain;
  background-color: $header-bg-color;
  box-shadow: 0 0 8px 8px $header-bg-color inset;
  background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
    url(../images/header/mobile/header_home-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/mobile/header_home@2x-mobile.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/tablet/header_home-tablet.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
        url(../images/header/tablet/header_home@2x-tablet.jpg);
    }
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/desktop/header_home-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
        url(../images/header/desktop/header_home@2x-desktop.jpg);
    }
  }
}

// My Library
.my-lib-header .container {
  background-size: contain;
  background-color: $header-bg-color;
  box-shadow: 0 0 8px 8px $header-bg-color inset;
  background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
    url(../images/header/mobile/header_my_lib-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/mobile/header_my_lib@2x-mobile.jpg);
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/tablet/header_my_lib-tablet.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
        url(../images/header/tablet/header_my_lib@2x-tablet.jpg);
    }
  }
  @media screen and (min-width: 1024px) {
    background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
      url(../images/header/desktop/header_my_lib-desktop.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, $backdrop-bg-color, $backdrop-bg-color),
        url(../images/header/desktop/header_my_lib@2x-desktop.jpg);
    }
  }
}

.header-container {
  flex-wrap: wrap;
}

// Login & Registration
.navigation {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  @media screen and (max-width: 768px) {
    justify-content: space-between;
  }
}

.auth-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (min-width: 768px) {
    margin: 0 0 0 auto;
  }
}

.login-icon,
.logout-icon {
  width: 25px;
  height: 25px;
  fill: $white-text-color;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 768px) {
    width: 20px;
    height: 20px;
  }

  &:hover {
    fill: $orange-text-color;
  }
}

// Logo
.logo {
  // margin-right: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    margin-right: 75px;
  }
  @media screen and (min-width: 1024px) {
    display: flex;
    align-items: center;
    margin-right: 210px;
  }
}

.logo-part {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 10px;
    font-size: 30px;
    line-height: 1.17;
    font-weight: 500;
    color: $white-text-color;
  }
}

// Navigation menu
.site-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-nav-list {
  display: flex;

  &__item {
    position: relative;
    display: flex;
    align-items: flex-end;
  }

  &__item:not(:last-child) {
    margin-right: 39px;

    @media screen and (max-width: 768px) {
      margin-right: 25px;
    }
  }

  &__link {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
    color: $white-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }

    &:hover {
      color: $orange-text-color;
    }
  }
}

// Current Link
.is-current::after {
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: $element-bg-color;
}

// Search input field
.form-search {
  text-align: center;
  position: relative;
  @media screen and (min-width: 768px) {
    width: 336px;
    margin: 0 auto;
  }

  &__input {
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 1px solid $white-text-color;
    color: $white-text-color;
    font-size: 15px;
    transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
      color: $white-text-color;
      font-size: 14px;
      line-height: 1.48;
    }

    &:focus {
      outline: 0;
      outline-offset: 0;
      border-bottom: 0.5px solid $orange-text-color;

      &::placeholder {
        opacity: 0;
      }
    }
  }

  &__button {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: -5px;
  }
}

// My Library - Block with buttons
.changeable-block {
  & .button {
    display: inline-block;
    min-width: 130px;
    padding: 14px 38px 12px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: $white-text-color;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    @media screen and (max-width: 768px) {
      padding: 14px 36px 12px;
    }
  }

  & .primary-button {
    margin-right: 15px;
    border: none;
    background-color: $orange-btn-color;

    &:hover {
      background-color: #fc944a;
    }
  }

  & .secondary-button {
    border: 1px solid $main-bg-color;
    background-color: rgba(145, 145, 145, 0.25);

    &:hover {
      background-color: rgba(228, 228, 228, 0.25);
    }
  }
}

.buttons-block {
  display: flex;
  justify-content: center;
}
