
.change {
    position: relative;
background-color: transparent;
box-shadow: white;
border-radius: 5px;
}
.icon-light {
    // display: block;
    
    width: 25px;
    height: 25px;

}

.icon-dark {

    display: block;
    width: 25px;
    height: 25px;
    
   
}

body.dark {
    background-color: rgb(42, 39, 48);
    color: #fff;
}

body.light {
    background-color:$main-bg-color ;
    color: $black-text-color;
}

