body.light {
    background-color:$main-bg-color ;
    color: $black-text-color;
}
.trailer__button {
   
    background-color: $white-text-color;
   
    border: 1px solid $black-text-color;
    color: $black-text-color;
  
    
  }

  .modal {
    background-color: $main-bg-color;
  }

  .icon[data-theme="dark"] {

    display: block;
   
    
   
}

.icon[data-theme="light"] {

    display: none;
   
    
   
}

.footer{
 
  background-color: $footer-bg-color;
}

.footer-text{
  
  color: $gray-text-color ;
  
}

