.change {
    
    top: 35px;
    right:35px;
    position: relative;
    background-color: transparent;
    box-shadow: white;
    border-radius: 5px;
    width: 24px;
height: 24px;
}

.icon{
    position: relative;
    bottom:2px;
    right: 50%;
    width: 20px;
    height: 20px;
}










